<p>
  <strong>Question Description</strong>
  <%= @question.ask %>
</p>
<p>
  <strong>Question Explanation</strong>
  <%= @question.explanation %>
</p>
<p>
  <strong>Quiz Name</strong>
  <%= @question.quiz.title %>
</p>

<a href="/instructors/profile">Back to Instructor Dashboard</a>
<a href="/questions">Back to Questions</a>