<p>
  <strong>Question Description</strong>
    <%= @question.ask %>
</p>
<p>
  <strong>Question Explanation</strong>
    <%= @question.explanation %>
</p>
<p>
  <strong>Quiz Name</strong>
    <a href="/quizzes/<%= @question.quiz.id %>">
      <%= @question.quiz.title %>
    </a>
</p>

<a href="/instructors/profile">Back to Instructor Dashboard</a>
<a href="/questions">Back to Questions</a>
<a href="/quizzes">See All Quizzes</a>