<h2>Welcome Back <%= @instructor.first_name %></h2>
  
<div>
  <ul>
    <li>
      <a href="/quizzes/new">Create a New Quiz</a>
    </li>
    <li>
      <a href="/questions/new">Create a New Question</a>
    </li>
    <li>
      <a href="/options/new">Create a New Option</a>
    </li>
    <li>
      <a href="/quizzes">View All Quizzes</a>
    </li>
    <li>
      <a href="/questions">View All Questions</a>
    </li>
    <li>
      <a href="/options">View All Options</a>
    </li>
  </ul>
</div>



<div>
  <%= button_to 'Log-Out', log_out_path, method: :delete %>
</div>